<% provide(:title, "お気に入り一覧") %>
<div class="user-favorite-wrapper">
  <%= render "shared/sidebar" %>
  <div class="user-favorite-inner">
    <div class="favorite-index-title">
      <h1>お気に入り一覧</h1>
      <p>※20件まで保存できます</p>
    </div>
    <% if @shops.present? %>
      <%= render "shared/card", shops: @shops %>
    <% else %>
      <p class="no-favorites">現在お気に入り登録はありません</p>
    <% end %>
  </div>
</div>
