<div class="user-favorite-wrapper">
  <%= render "shared/sidebar" %>
  <div class="container">
    <div class="user-favorite-inner">
      <div class="favorite-index-title">
        <h1>お気に入り一覧</h1>
        <p>※20件まで保存できます</p>
      </div>
      <%= render "shared/card", shops: @shops %>
    </div>
  </div>
</div>
