<div class="side-bar-wrapper">
  <ul>
    <%= link_to "#" do %>
      <li class="side-bar-link ">
        アカウント情報
      </li>
    <% end %>
    <%= link_to "#" do %>
      <li class="side-bar-link">
        お気に入り一覧
      </li>
    <% end %>
    <%= link_to "#" do %>
      <li class="side-bar-link">
        マイレビュー
      </li>
    <% end %>
  </ul>
</div>
