@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #faf4e7;
  font-family: "Noto Sans JP", sans-serif !important;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  .main-wrapper {
    flex-grow: 1;
  }
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
}

h5 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

#error_explanation {
  display: inline-block;
  padding: 1rem;
  color: red;
}

.md-btn {
  padding: .7rem 1.3rem;
  font-size: 1.3rem;
}

.lg-btn {
  padding: .5rem 1rem;
  font-size: 1.6rem;
}

.modal-title {
  font-weight: 700;
  font-size: 2rem;
}

.modal-body {
  text-align: left;
}

header {
  background-color: #283726;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}

.header-logo {
  color: #faf4e7;
  font-size: 2rem;
}

.header-left-nav {
  display: flex;
  align-items: center;
  max-width: 50%;
}

.header-right-nav {
  display: flex;
  align-items: center;
  height: 100%;
  .right-nav-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    .line {
      width: 2px;
      height: 35px;
      background-color: #faf4e7;
    }
    .header-btn {
      height: 100%;
      border-color: #283726;
      background-color: #283726;
      color: #faf4e7;
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
      &:hover {
        border-color: #425e3e;
        background-color: #425e3e;
      }
    }
    a {
      display: flex;
      align-items: center;
    }
  }
}

.current-user-img {
  img {
    width: 60px;
    height: 60px;
    margin: 0 16px;
    padding: 7px;
    border-radius: 50px;
    -o-object-fit: cover;
      object-fit: cover;
  }
}

.header-nav-menu {
  display: none;
  list-style: none;
  position: absolute;
  top: 70px;
  right: 10px;
  margin-top: 0;
  padding: 15px;
  border: 3px solid #f6f8f9;
  background-color: #ffffff;
}

.header-nav-menu li {
  padding: 3px 5px;
  font-size: 16px;
  line-height: 30px;
}


.footer {
  width: 100%;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #262b2c;
  color: #faf4e7;
  text-align: center;
}

.footer p {
  font-size: 1.3rem;
}

.alert {
  margin: 0;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.alert-notice {
  background-color: #85c4e0;
}

.alert-error {
  background-color: #e8a792;
}
