.review-shop-name {
  a {
    &:hover {
      color: orange;
    }
  }
}

.rv-comment {
  font-size: 1.5rem;
}

.user-review-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 3rem;
}

.user-review-inner {
  width: 70%;
  margin: 5rem auto 0 auto;
}

.no-review {
  margin-top: 1rem;
  font-size: 1.5rem;
}
