.cuurent-review-frame {
  margin-top: 2rem;
}

.current-review-shop-name {
  border-bottom: 2px solid #eae8d8;
  font-size: 1.7rem;
  text-align: left;
}

.review-shop-name, .current-review-shop-name {
  a {
    &:hover {
      color: orange;
    }
  }
}

.rv-comment {
  font-size: 1.5rem;
}

.user-review-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.user-review-inner {
  width: 70%;
  margin: 0 auto;
  h1 {
    margin-top: 3rem;
  }
}

.no-review {
  margin-top: 1rem;
  font-size: 1.5rem;
}
