.align-center {
  align-items: center;
}

#status {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  p {
    font-size: 1.7rem;
  }
}

.hidden {
  display: none !important;
}

.home-wrapper {
  flex-grow: 1;
  padding: 30px 0;
}

#map {
  height: 400px;
  margin-bottom: 30px;
}

.search-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-btn {
  padding: 1rem 2rem;
  border: 1px solid #1a6011;
  border-radius: 5px;
  background-color: #1a6011;
  color: #ffffff;
  font-size: 1.6rem;
  &:hover {
    border: 1px solid #668f60;
    background-color: #668f60;
    color: #ffffff;
  }
  &:active {
    background-image: linear-gradient(to bottom, #1a6011, #668f60);
    background-color: #1a6011;
  }
}

.search-result-wrapper {
  margin-top: 1rem;
}

#show_search_error {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.card-frame {
  flex-direction: row;
  margin-top: 1.5rem;
  padding: 1.5rem 2.5rem;
  &:hover {
    border: 1px solid orange;
    color: orange;
    transition: border-color .15s ease-in-out;
  }
  .card-wrapper {
    display: flex;
    flex-grow: 1;
  }
}

.card-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .shop-img-lg {
    max-width: 180px;
    max-height: 180px;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .shop-img-sm {
    max-width: 145px;
    max-height: 145px;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .img-provided {
    margin: 0;
    font-size: 3px;
  }
}

.card-rate-wrapper {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  color: #212529;
  img {
    max-width: 2rem;
  }
  span {
    margin-left: 1rem;
    font-size: 1.7rem;
    line-height: 1;
  }
}

.card-body {
  margin-left: 1rem;
  .card-genre {
    color: #666666;
    font-size: 1.3rem;
  }
  .card-title {
    margin-top: .5rem;
    font-weight: 700;
    font-size: 2rem;
  }
  .card-area-name {
    padding: .3rem;
    border: 1px solid;
    line-height: 1;
  }
  .card-area-access {
    display: flex;
    align-items: center;
    color: #212529;
    font-size: 1.1rem;
  }
  .card-access {
    margin-left: .5rem;
  }
  .card-text {
    margin-top: 1rem;
    color: #666666;
    font-size: 1.4rem;
  }
}

.represent-review {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 1.2rem 1.3rem;
  background-color: #faf8f5;
  color: #212529;
  p {
    &:first-child {
      font-weight: 700;
      font-size: 1.4rem;
    }
    &:last-child {
      font-size: 1.3rem;
    }
  }
}

.shop-marker-num {
  width: 20%;
  color: #ea4435;
  font-size: 2rem;
  p {
    top: -1rem;
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 5px 5px 13px #000000, 2px 2px black;
  }
}

.api-credit {
  margin-top: 1rem;
}
