.shop-header-contents {
  padding: 25px 30px;
}

.shop-header-contents-inner {
  display: flex;
  width: 100%;
}

.logo-title-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 13px 0;
  border-bottom: 1px solid #e0dccc;
  .header-logo {
    margin-right: 15px;
    .logo-image {
      height: 100%;
    }
  }
  .shoptitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title-crown {
      margin: 0;
      padding-bottom: 7px;
      color: #504f4f;
      font-size: 1.1rem;
    }
    .shop-name {
      font-weight: bold;
      font-size: 2rem;
      line-height: 1.2;
    }
  }
}

#shop-avg-rate {
  display: flex;
  align-items: center;
  span {
    margin-left: .8rem;
    font-size: 2rem;
  }
}

.shop-headerbtn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  .favorite-btn {
    padding: .5rem 3rem;
    border-color: rgb(58, 84, 65);
    background-color: rgb(58, 84, 65);
    color: rgb(250, 244, 232);
    font-size: 1.6rem;
    &::before {
      margin-right: 3px;
      font-family: "Font Awesome 5 Free";
      content: "\f02e";
    }
    &:hover {
      border-color: rgb(238, 220, 196);
      background-color: rgb(238, 220, 196);
    }
  }
  .hotpepper-btn {
    margin-top: 5px;
    padding: .5rem 1rem;
    font-size: 1.6rem;
  }
}

.shop-header-info {
  margin-top: 13px;
  ul {
    margin: 0;
  }
  li {
    margin: 2px;
  }
  dl {
    display: flex;
    margin: 0;
    dt {
      font-size: 1.1rem;
    }
    dd {
      margin: 0;
      font-size: 1.1rem;
    }
  }
}

.shop-review-frame {
  padding: 25px 30px;
  border: 1px solid rgb(190 176 167);
  border-radius: 3px;;
}

.shop-review-title {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid #e0dccc;
  img {
    width: 3.5rem;
    height: 3.5rem;
  }
  h5 {
    flex-grow: 1;
    margin-left: 5px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: normal;
  }
  button {
    margin-bottom: .5rem;
  }
}

.review-wrapper {
  padding: 20px 20px;
  .review-inner {
    text-align: center;
    p {
      font-size: 1.5rem;
    }
    button {
      padding: .5rem 1rem;
      font-size: 1.6rem;
    }
  }
}

.review-frame {
  padding: 15px;
  border: 1px solid #dfdccc;
  border-radius: .2rem;
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.review-user-header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ebe8d9;
}

.review-user-icon {
  img {
    width: 60px;
    height: 60px;
    margin: 0 16px;
    padding: 7px;
    border-radius: 50px;
    -o-object-fit: cover;
      object-fit: cover;
  }
}

.review-user-name {
  flex-grow: 1;
  font-size: 1.5rem;
  text-align: left;
}

.raview-rate-wrapper {
  display: flex;
  align-items: flex-end;
  div {
    display: inline-block;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
  span {
    margin-left: .6rem;
    font-size: 1.3rem;
  }
}

.review-main-content {
  padding: 2rem 2rem 0 2rem;
  text-align: left;
  .rv-title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  .rv-comment {
    margin-top: 1.6rem;
  }
  a {
    padding: 0;
    color: #212529;
    font-size: 1.6rem;
  }
}
