.user-main-wrapper {
  flex-grow: 1;
  position: relative;
  background-image: url("/signup-in.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .split-column {
    width: 100%;
  }
  .left-column {
    display: flex;
    align-items: center;
  }
  .right-column {
    display: flex;
    align-items: center;;
  }
  .center-or {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-45%, -50%);
        -ms-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
    margin: 0;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    color: rgba(175, 138, 104);
    font-size: 1.5rem;
  }
}

.form-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, .75);
  background-color: rgba(240, 249, 255, .4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  text-align: center;
  .new_user, .sign-in {
    width: 90%;
    margin: 0 auto;
  }
  .field {
    width: 100%;
    margin: 0 auto 10px auto;
    text-align: start;
  }
}

.field {
  label {
    font-size: 1.3rem;
  }
  input {
    font-size: 1.5rem;
  }
}

.guest-login-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, .75);
  background-color: rgba(240, 249, 255, .4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  text-align: center;
  a {
    margin-top: 15px;
  }
}
