.user-edit-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.user-edit-frame {
  display: flex;
  justify-content: center;
}

.user-edit-inner {
  width: 50%;
  margin-top: 5rem;
  .field {
    margin-top: 1rem;
  }
  div {
    &:first-child {
      margin-top: 2rem;
    }
  }
  .actions {
    margin-top: 1rem;
  }
}

.edit-current-user-img {
  display: flex;
  align-items: flex-end;
  input {
    font-size: 1rem!important;
  }
}

.edit-current-user-img {
  img {
    width: 80px;
    height: 80px;
    margin: 0 16px;
    padding: 2px;
    border-radius: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.user-favorite-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.user-favorite-inner {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.account-delete-title {
  margin-top: 2rem;
}

.account-delete-text {
  display: inline-block;
  margin-right: 1rem;
}

.button_to {
  display: inline-block;
}

.user-main-wrapper {
  flex-grow: 1;
  position: relative;
  background-image: url("/signup-in.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .split-column {
    width: 100%;
  }
  .left-column {
    display: flex;
    align-items: center;
  }
  .right-column {
    display: flex;
    align-items: center;;
  }
  .center-or {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    margin: 0;
    padding: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    color: rgba(175, 138, 104);
    font-size: 1.5rem;
  }
}

.form-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, .75);
  background-color: rgba(240, 249, 255, .4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  text-align: center;
  .new_user, .sign-in {
    width: 90%;
    margin: 0 auto;
  }
  .field {
    width: 100%;
    margin: 0 auto 10px auto;
    text-align: start;
  }
}

.field {
  label {
    font-size: 1.3rem;
  }
  input {
    font-size: 1.5rem;
  }
}

.guest-login-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, .75);
  background-color: rgba(240, 249, 255, .4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  text-align: center;
  a {
    margin-top: 15px;
  }
}

.side-bar-wrapper {
  width: 205px;
  border-right: 1px solid #dedccc;
  ul {
    margin-top: 2rem;
  }
}

.side-bar-link {
  padding: 1rem 1rem 1rem 2rem;
  background-color: #faf4e6;
  color: #212529;
  font-size: 1.5rem;
  &:hover {
    background-color: #fffbf4;
  }
}

.active {
  border-right: 6px solid #ffa35f;
}



@media (max-width: 576px) {
  .user-favorite-wrapper, .user-edit-wrapper, .user-review-wrapper {
    display: block;
  }
  .side-bar-wrapper {
    width: 100%;
    border-right: none;
    ul {
      display: flex;
    }
  }
  .active {
    border-right: none;
    border-bottom: 4px solid #ffa35f;
  }
  .user-favorite-inner {
    width: 95%;
  }
  .user-edit-frame {
    display: block;
  }
  .user-edit-inner {
    width: 95%;
    margin: 5rem auto 0 auto;
    .actions, h2 {
      text-align: center;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .user-review-inner {
    width: 95%;
    h1 {
      text-align: center;
    }
  }
  .user-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .user-main-wrapper .center-or {
    display: none;
  }
  .form-wrapper, .guest-login-wrapper {
    width: 80%;
    h2 {
      font-size: 2rem;
    }
  }
}
